// Line height
$base-line-height: 1.6;
// Other Sizes
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
// Colors
$white: #ffffff;
$light-blue: #0076b7;
$light-grey: #f1f0f0;
$bgColorF0: #eeeee2;
$base-font-color: #363636;
$border-color: #e3e3e3;